.sidebar-main {
  background: var(--color-gradient-sidebar);
  flex: 0 0 260px !important;
  max-width: 260px !important;
  min-width: 260px !important;
  width: 260px !important;
}

.sidebar-main .ant-menu-inline {
  padding: 4px 16px;
  border: 0 !important;
}

.sidebar-main .ant-menu-inline .ant-menu-item svg,
.sidebar-main .ant-menu-inline .ant-menu-submenu svg {
  font-size: 18px !important;
}

.sidebar-main .ant-menu-inline .ant-menu-item .ant-menu-title-content,
.sidebar-main .ant-menu-inline .ant-menu-submenu .ant-menu-title-content {
  font-weight: 500;
}

.sidebar-main .ant-menu-inline .ant-menu-item {
  padding-left: 16px !important;
  color: #ffff;
}

.sidebar-main .ant-menu-light {
  background: transparent !important;
}

.sidebar-main.ant-layout-sider-collapsed {
  flex: 0 0 80px !important;
  max-width: 80px !important;
  min-width: 80px !important;
  width: 80px !important;
}

.sidebar-main.ant-layout-sider-collapsed .ant-menu.ant-menu-root {
  padding: 4px 10px;
}

.sidebar-main .ant-menu-item:hover {
  background-color: var(--color-gradient-menu-hover) !important;
  color: var(--color-text-light) !important;
  box-shadow: 0 4px 12px rgba(245, 158, 11, 0.3) !important;
  color: #ffffff !important;
}

.ant-menu-light .ant-menu-item-selected {
  background: var(--color-gradient-menu-active) !important;
  box-shadow: 0 4px 16px rgba(245, 158, 11, 0.4) !important;
  color: #fff !important; /* optional: make text white for contrast */
}
.ant-menu .ant-menu-item .ant-menu-item-icon {
  color: #fff;
}
