.ant-table-wrapper table {
  font-family: unset !important;
  border-radius: 8px;
}

.ant-table-wrapper table td,
.ant-table-wrapper table th {
  border: 0;
}

.ant-table-wrapper table tbody {
  border-radius: 0 0 8px;
}

.ant-table-wrapper table tbody tr td {
  border-bottom: 1px solid var(--primary-40) !important;
  font-weight: 500;
}
