.phone-input {
  border: 1px solid #d9d9d9;
  padding-left: 10px;
  border-radius: 6px;
}

.phone-input input {
  padding: 4px 11px !important;
  outline: 0;
  height: 36px;
  font-weight: 300;
}

.phone-input input:focus-visible {
  outline: 0 !important;
}

.phone-input input::placeholder {
  color: #d9d9d9;
}

.disable-phone-input {
  opacity: 0.7;
  background-color: #f6f6f6;
  border: 1px solid #c4c2c2;
  color: #b1b1b6;
  height: 36px;
}

.disable-phone-input input {
  cursor: not-allowed;
}

.PhoneInputCountrySelect:focus {
  border-color: white !important;
}
