@import "tailwindcss";

@theme {
  /* Fonts */
  --font-display: "Satoshi", "sans-serif";

  /* Breakpoints */
  --breakpoint-3xl: 120rem;

  /* Background and base */
  --color-primary: #ffff99;
  --color-sidebar: #795548;
  --color-secondary: #ff9800;
  --color-hover: #9e7869;
  --color-text-light: #ffffff;
  --color-text-dark: #4e342e;
  --color-card: #ffffff;
  --color-shadow: rgba(121, 85, 72, 0.15);
}
