@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import "tailwindcss";

body {
  font-family: "Montserrat", sans-serif !important;
}
@theme {
  /* Fonts */
  --font-display: "Satoshi", "sans-serif";

  /* Breakpoints */
  --breakpoint-3xl: 120rem;

  /* Background and base */
  --color-primary: #fff99f;
  /* --color-primary: #ffffcc; */
  --color-accent: rgb(255 246 211);
  --color-secondary: rgb(120 53 15);

  --color-activemenu-primary: #f59e0b;
  --color-activemenu-secondary: #d97706;
  --color-hover-primary: #f59e0b20;
  --color-hover-secondary: #d97706;
  --color-light: #ffffff;
  --color-dark: #4e342e;
  --color-card: #ffffff;
  --color-shadow: rgba(0, 0, 0, 0.15);
  --color-gradient-sidebar: linear-gradient(180deg, #92400e 0%, #a16207 100%);
  --color-gradient-menu-active: linear-gradient(
    135deg,
    var(--color-activemenu-primary),
    var(--color-activemenu-secondary)
  );
  --color-gradient-menu-hover: linear-gradient(
    135deg,
    #f59e0b20 0%,
    #d97706 100%
  ) !important;
}

html,
body {
  height: 100%;
  overflow: auto; /* ensure scrollbar exists */
}

/* Global scrollbar style */
::-webkit-scrollbar {
  width: 6px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: var(--color-secondary);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--color-secondary);
}
